<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.main.store">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Store"
        tools:targetApi="31">
        <activity
            android:name=".activities.WelcomeActivity"
            android:exported="false" />
        <activity
            android:name=".activities.VerifyNumberActivity"
            android:exported="false" />
        <activity
            android:name=".activities.CompleteActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".activities.CartsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activities.DetailsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SignInActivity"
            android:exported="false" />
        <activity
            android:name=".activities.WomenActivity"
            android:exported="false" />
        <activity
            android:name=".activities.JeweleryActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ElectronicsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.MenActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SplashScreenActivity"
            android:exported="true"
            tools:ignore="DuplicateActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ManifestOrder,ScopedStorage" />

</manifest>